body{
    background-image: url(../image/bg.jpg);
}
.container{
    margin-top: 30px;
    color: white;
}
.registBox{
    /*border: 1px solid white;*/
    margin-top: 20px;
    height: 450px;
    background-color: rgba(0,0,0,.3);
}
.box-head{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: large;
}
.box-footer{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.box-footer a{
    color: red;
    font-size: larger;
}
.opacity{
    background-color: rgba(0,0,0,.3);
    color: white;
    /*background-color:#000;
    opacity:0.5;
    filter:alpha(opacity=50);*/
}

.logo{
    line-height: 60px;
    font-size: 18px;
    color: green;
}
.name{
    color: white;
    padding-left: 10px;
}
.name:hover{
    color: red;
    text-decoration: none;
}
.nav li a{
    color: #da6426;
    margin-top: 2px;
    padding: 10px 10px;
}
.nav li a:hover,
.nav li a:focus{
    background-color: rgba(30, 30, 30, 0.8);
}
/*瀹氫箟瀵艰埅鏉″簳閮ㄥ杈硅窛涓�0px锛岄鑹蹭负榛戣壊锛岄�鏄庡害涓�.3*/
.navbar-my{
    background-color:rgba(0,0,0,.3);
    margin-bottom: 40px;
}
/*瀹氫箟瀵艰埅閾炬帴鐨勫竷灞�柟寮�/
.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}
.navbar-my .navbar-toggle:hover,.navbar-my .navbar-toggle:focus {
    /*background-color:transparent*/
}
.navbar-my .navbar-toggle .icon-bar{
    background-color:#fff
}
.navbar-my .navbar-nav>li>a
{
    color:#fff;
    text-align:center
}
.navbar-my .navbar-nav>li>a:hover,.navbar-my .navbar-nav>li>a:focus{
    color:#fff;
    background-color:rgba(0,0,0,.4)
}
.navbar-my .navbar-nav>.active>a,.navbar-ghost .navbar-nav>.active>a:hover,.navbar-my .navbar-nav>.active>a:focus {
    color:#fff;
    background-color:rgba(0,0,0,.5)
}
.reg-tips{
    color: blue;
    /*background-color:rgba(0, 0, 0, .4);*/
}
.reg-err{
    color: red;
}