body{
	background-image: url(../image/bg.jpg); 
}
.top-bar{
	/*background: #1e6887;*/
	padding: 5px 0px;
	height: 47px;
	/*background-color:#000; 
	opacity:0.5;
	filter:alpha(opacity=50);*/

}
.nav li{
	border-radius: 0;
	border: 1px solid apparent;
}
.contentArea{
	/*border: 1px solid white;*/
	height: 300px;
	background-color: rgba(0,0,0,.3);
	
}
.nav li a{
	color: #da6426;
	margin-top: 2px;
	padding: 10px 10px;
}
.nav li a:hover{
	background-color: rgba(30,30,30,.5);
}
.opacity{
	background-color: rgba(0,0,0,.3);
	color: white;
	/*background-color:#000; 
	opacity:0.5;
	filter:alpha(opacity=50);*/
}
.activeclass{
	background-color: rgba(30,30,30,.8);
	/*border: 1px solid gray;*/
}
.logo{
	line-height: 37px;
	font-size: 18px;
	color: white;
}
.name{
	color: white;
	padding-left: 10px;
}
.name:hover{
	color: white;
	text-decoration: none;
}
.user{
	color: white;
	font-size: 18px;
}
.user:hover{
	color: white;
	text-decoration: none;
}
.container{
	margin-top: 30px;
	color: white;

}
.workInfo td{
	height: 40px;
	line-height: 40px;

}
.table td{
	height: 30px;
	
}
#submit{
	width: 100px;
	height: 40px;
}

.table td {
	color: #da6426;
	margin-top: 2px;
	padding: 10px 10px;
}
.table td:hover
{
	
	background-color: rgba(30,30,30,.5);
	cursor: pointer;
};
.block {
	display: block;
}
.none {
	display: none;
}