<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.password">123456</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/dasaiv1
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.show_sql">yes</property>
	<property name="hibernate.hbm2ddl.auto">create</property>
	
	<mapping resource="com/dasai/domain/Mark.hbm.xml"/>
	<mapping resource="com/dasai/domain/Message.hbm.xml"/>
	<mapping resource="com/dasai/domain/User.hbm.xml"/>
	<mapping resource="com/dasai/domain/Work.hbm.xml"/>
	<mapping resource="com/dasai/domain/WorkType.hbm.xml"/>
</session-factory>
</hibernate-configuration>
